﻿
@{
    ViewBag.Title = "Yeni Kullanıcı";
}

<h2>Yeni Kullanıcı</h2>
<br /><br />
<form action="FormExample/Create" method="post"></form>
<label>Ad</label>
<br />
<input type="text" name="UserName" />
<br />
<br />
<label>e-Mail</label>
<br />
<input type="text" name="mail" />
<br />
<br />
<label>Şifre</label>
<br />
<input type="password" name="password" />
<br />
<br />
<input type="submit" Value="Kayıt Ol" />
</form>

