﻿
@{
    ViewBag.Title = "Aksiyon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-9">
        <div class="row carousel-holder">
            <div class="col-md-12">

                <img />
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="~/content/images/kategoriler/melekler_ve_seytanlar.png" alt="">


                    <div class="caption">

                        <p>Melekler ve Şeytanlar, Dan Brown'ın 2000 yılında yayınlanmış romanı. Da Vinci Şifresi isimli romanın da baş karakteri olan Robert Langdon ilk kez bu romanda boy gösterdi.</p>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="~/content/images/kategoriler/sah_mat.jpg" alt="">
                    <div class="caption">

                        <p>Şah Mat kitabı mükemmel kurgulanmış bir polisiye roman. Mario Mazzanti'yi ilk kitabında böyle mükemmel bir eser ortaya çıkardığı için kutlamak gerek.</p>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="~/content/images/kategoriler/cerrah.jpg" alt="">
                    <div class="caption">

                        <p>Rizzoli & Isles ikisilinin cinayet soruşturması anlatılmaktadır. Rizzoli; sert, kendine pek bakmayan, işini iyi yapan fakat kimseye taviz vermeyen birinin kişiliğini yansıtır.</p>
                    </div>

                </div>
            </div>
            <div class="row">
            <br />
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/content/images/kategoriler/koloni.jpg" alt="">
                            <div class="caption">

                                <p>Paris’te bir Ermeni katedralinde işlenen bir cinayet. Kan yok, cinayet aleti yok, yara bere yok…</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>

