﻿
@{
    ViewBag.Title = "Arastirma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-9">
        <div class="row carousel-holder">
            <div class="col-md-12">

            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">

                        <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">

                        <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">

                        <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">

                        <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">

                        <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">

                        <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">

                        <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">

                        <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">

                        <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>

                    </div>

                </div>
            </div>

        </div>
    </div>



