﻿
@{
    ViewBag.Title = "Modül Detayı";
}

@model  WebUI.Models.Data.Modul

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@Model.ModulBaslik</h4>
            </div><div class="panel-body">
                <div class="col-md-8">
                    @*<div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="~/Content/images/2016-2017_akademik_yili_mesaji_3.png" alt="" />
                            </div>

                            <div class="item">
                                <img src="~/Content/images/2016-2017_akademik_yili_mesaji_3.png" alt="" />
                            </div>

                            <div class="item">
                                <img src="~/Content/images/2016-2017_akademik_yili_mesaji_3.png" alt="" />
                            </div>

                            <div class="item">
                                <img src="~/Content/images/2016-2017_akademik_yili_mesaji_3.png" alt="" />
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>*@

                    @if (Model.ModulFoto == null)
                    {
                        <img class="img-responsive" src="~/Content/images/resimyok.png" alt="@Model.ModulBaslik" />
                    }
                    else
                    {
                        <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(Model.ModulFoto)" alt="@Model.ModulBaslik">
                    }
                </div>
                <div class="col-md-4">
                    <h4>@Model.ModulBaslik</h4>
                    <p>@Model.ModulIcerik </p>
                </div>
            </div>
        </div>
    </div>
</div>

