﻿@{
    ViewBag.Title = "Hakkımızda";
}
<h1>@ViewBag.Title.</h1>
<p>&nbsp;</p>  <p>&nbsp;</p>
<div class="col-md-9">
    <div class="row carousel-holder">
        <div class="col-md-12">
            <b>
                <p>&nbsp;&nbsp;1998 Yılında "Kullanıcılara her istedikleri zaman istedikleri kitaba ulaşma ihkanı tanımak"</p>
                <p>ilkesiyle yola çıkan sitemiz geçen 18 yılda Türküye'nin en iyi kütüphane sitelerinden biri olmuştur.</p>
                <p>&nbsp;</p>
                <p>&nbsp;&nbsp;2006 yılından beri kendini daha çok geliştirerek değişen dünyaya ayak uydurmayı başarmış ve birçok edebiyat</p>
                <p>ödülüne layık görülmüştür. Tüm bu süre içerisinde yaklaşık 1 milyon üyeye ulaşmış ve uyelerine en</p>
                <p>iyi hizmeti vermiştir.</p>
                <p>&nbsp;</p> 
                <p>&nbsp;&nbsp; ve misyonundan sapmadan ilerleyen kuruluşumuz çok sık aralıklarla siteyi yenilemekte ve ana </p>
                <p>sayfamızdagüncel, çok satan kitapları göstermektedir. Amacımı bizim gibi kitap severleri bir araya</p>
                <p>getirmek ve oblara kitap önerilerinde bulunmak.</p>
                <p></p>


            </b>
        </div>
    </div>
</div>

                
                

                 
                   

                  






                <!--1998 yılında "En yeni iletişim ve bilgisayar teknolojilerini kullanarak müşterilerine dünya standartlarında çözümler sunmak"
                ilkesiyle yola çıkan isimtescil.net, geçen 16 yıllık süreçte Dünya ve Türkiye’ye, en büyük domain ve hosting firmalarından biri olmayı başarmıştır.

                2008 yılında alan adları standartlarını belirleyen ve denetleyen tek otorite ICANN'e akredite olan isimtescil.

                net, 2010 yılından beri Türkiye'nin en büyük 500 bilişim şirketi arasında yer almakta ve kurulduğu günden buyana 1 milyonun üzerinde
                domain kaydı ve 200 bininin üzerinde barındırma hizmetne ev sahipliği yapmıştır.-->


          

