﻿@{
    ViewBag.Title = "İletişim";
}
<h1>@ViewBag.Title.</h1>

<p>&nbsp;</p>  <p>&nbsp;</p>
<div class="col-md-9">
    <div class="row carousel-holder">
        <div class="col-md-12">
            <b>
                <p><b>Bize Aşağıdaki Telefon Numaralarından Ulaşabilirsiniz;</b></p>
                <ul>
                    <li>0534 555 66 77</li>
                    <li>0536 777 88 99</li>

                </ul>
                <p><b>Fax numaramız;</b></p>
                <ul>
                    <li>55555555555</li>

                </ul>
                <p><b>Bize Mail Yoluy İle De Ulaşabilirsiniz. Mail Adreslerimiz;</b></p>
                <ul>
                    <li>kutuphanem@gmail.com</li>
                    <li>okumak_istiyorim@gmail.com</li>
                </ul>
                <p><b>Posta Kodu</b></p>
                <ul>
                    <li>34120</li>

                </ul>
                <p><b>Vergi Dairesi</b></p>
                <ul>
                    <li>Üsküdar vergi dairesi</li>

                </ul>
                <p><b>Ofis Adresi</b></p>
                <ul>
                    <li>.......mah. ...........sokak ........no:1  Üsküdar/İSTANBUL</li>

                </ul>
        </div>
    </div></b>
</div>







            
            
            

            

            

            
            
            



