﻿@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-9">
    <div class="row carousel-holder">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="~/image/slayder/1.jpg" alt="">
                        

                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/image/slayder/2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/image/slayder/3.jpg" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <!--<h4 class="pull-right">$24.99</h4>
                    <h4>
                        <a href="#">First Product</a>
                    </h4>-->
                    <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>
                </div>
                <!--<div class="ratings">
                     <p class="pull-right">15 reviews</p>
                    
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>      
                </div>-->
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <!--<h4 class="pull-right">$74.99</h4>
                    <h4>
                        <a href="#">Third Product</a>
                    </h4>-->
                    <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>
                </div>
                <!--<div class="ratings">
                    <p class="pull-right">31 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>-->
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <!--<h4 class="pull-right">$84.99</h4>
                    <h4>
                        <a href="#">Fourth Product</a>
                    </h4>-->
                    <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>
                </div>
                <!--<div class="ratings">
                    <p class="pull-right">6 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>-->
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <!--<h4 class="pull-right">$94.99</h4>
                    <h4>
                        <a href="#">Fifth Product</a>
                    </h4>-->
                    <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>
                </div>
                <!--div class="ratings">
                    <p class="pull-right">18 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>-->
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">

                    <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>

                </div>

            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">

                    <p>Bu bölgede şeçilen kategroriye göre gelen kitap hakkında çok kisa bir bilgi yer alacaktır.</p>

                </div>

            </div>
        </div>
        
    </div>
</div>